<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">OneView Customer Information</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>Consumer RTPA</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-building fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">124</div>
                        <div>SMB RTPA</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user-secret fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>FAST</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>Work Area</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div>
            <div>

                <tabset justified="true">
                    <tab>
                        <tab-heading>
                            <i class="glyphicon glyphicon-home"></i> Home
                        </tab-heading>
                        <div id="home" class="tab-pane fade in active">
                                 <div ng-include="'app/components/consumerRTPA/views/ConsumerHomeView.html'"></div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class="glyphicon glyphicon-search"></i> Search
                        </tab-heading>
                        <div ng-include="'app/components/consumerRTPA/views/ConsumerSearch.html'"></div>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class="glyphicon glyphicon-menu-hamburger"></i> Queues
                        </tab-heading>
                        <div ng-include="'app/components/consumerRTPA/views/ConsumerQueueView.html'"></div>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class="glyphicon glyphicon-wrench"></i> Work Area
                        </tab-heading>
                        This View Contains the last work area
                    </tab>
                </tabset>


            </div>
        </div>
    </div>
</div>

<!-- /.row -->