<form class="form-horizontal" role="form">
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-shopping-cart"></i>  Order Details</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <!--Search Form-->


                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="inputKey" class="col-md-1 control-label">DPID</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="inputKey" placeholder="2423142534">
                                        </div>
                                        <label for="inputValue" class="col-md-1 control-label">DCN</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="inputValue" placeholder=7456433"">
                                        </div>
                                        <label for="inputValue" class="col-md-2 control-label">Dell Order Status</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="inputValue" placeholder="Good">
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-info" autocomplete="off">
                                                Hide Details
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="inputKey" class="col-md-1 control-label">Order #</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="inputKey" placeholder="6554534253245">
                                        </div>
                                        <label for="inputValue" class="col-md-1 control-label">Status</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="inputValue" placeholder="Good">
                                        </div>
                                        <label for="inputValue" class="col-md-2 control-label">Company Number</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="inputValue" placeholder="678567546">
                                        </div>
                                         <div class="col-md-1">

                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--Search Form-->

                           <!--DPA Account Number-->
                            <div class="form-group col-lg-12">
                                <div class="col-lg-12">
                                    <div>
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#OrderDetailOrderInfo">Order Info</a></li>
                                            <li><a data-toggle="tab" href="#OrderDetailPaymentInfo">Payment Info</a></li>
                                            <li><a data-toggle="tab" href="#OrderDetailShippingInfo">Shipping Info</a></li>
                                            <li><a data-toggle="tab" href="#OrderDetailAgentInfo">Agent Info</a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div id="OrderDetailOrderInfo" class="tab-pane fade in active">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="panel panel-default">
                                                            <!-- /.panel-heading -->
                                                            <div class="panel-body">



                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group row">
                                                                            <label for="inputKey" class="col-md-2 control-label">Customer Number</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputKey" placeholder="6785656346">
                                                                            </div>
                                                                            <label for="inputValue" class="col-md-2 control-label">Company Name</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputValue" placeholder="Best Buy">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group row">
                                                                            <label for="inputKey" class="col-md-2 control-label">Contact Name</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputKey" placeholder="Adam West">
                                                                            </div>
                                                                            <label for="inputValue" class="col-md-2 control-label">Company Name 2</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputValue" placeholder="">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group row">
                                                                            <label for="inputKey" class="col-md-2 control-label">Subtotal Amount</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputKey" placeholder="$1200">
                                                                            </div>
                                                                            <label for="inputValue" class="col-md-2 control-label">Order Type</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputValue" placeholder="Corporate">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group row">
                                                                            <label for="inputKey" class="col-md-2 control-label">Tax Amount</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputKey" placeholder="45.90">
                                                                            </div>
                                                                            <label for="inputValue" class="col-md-2 control-label">Order ID</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputValue" placeholder="8567453">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group row">
                                                                            <label for="inputKey" class="col-md-2 control-label">Shipping Amount</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputKey" placeholder="$150.00">
                                                                            </div>
                                                                            <label for="inputValue" class="col-md-2 control-label">GUID</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputValue" placeholder="S723N5N54DHF5612353">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group row">
                                                                            <label for="inputKey" class="col-md-2 control-label">Total Amount</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputKey" placeholder="$5,000.00">
                                                                            </div>
                                                                            <label for="inputValue" class="col-md-2 control-label">Quote Number</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputValue" placeholder="568546454">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group row">
                                                                            <label for="inputKey" class="col-md-2 control-label">Hold Reason</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputKey" placeholder="Invalid">
                                                                            </div>
                                                                            <label for="inputValue" class="col-md-2 control-label">Hold Description</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputValue" placeholder="">
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group row">
                                                                            <label for="inputKey" class="col-md-2 control-label">Cancel Code</label>
                                                                            <div class="col-md-2">
                                                                                <input type="text" class="form-control" id="inputKey" placeholder="User Has Bad Credit">
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!-- /.panel-body -->
                                                        </div>
                                                        <!-- /.panel -->
                                                    </div>
                                                    <!-- /.col-lg-12 -->
                                                </div>
                                            </div>
                                            <div id="OrderDetailPaymentInfo" class="tab-pane fade">

                                            </div>
                                            <div id="OrderDetailShippingInfo" class="tab-pane fade">
                                                <h3>Menu 2</h3>
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                            </div>
                                            <div id="OrderDetailAgentInfo" class="tab-pane fade">
                                                <h3>Menu 3</h3>
                                                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel.panel-default -->
    </div>
    <!-- /.col-lg-12 -->
</div>

</form>