/*client styling*/
/*#region Base Element Styles*/
body {
  background-color: #b7b7b7;
  font-family: "Trebuchet MS", "Meiryo UI Reg", "メイリオ Reg", "MS UI Gothic Reg", "Hiragino Kaku Gothic Reg", "ヒラギノ角ゴ Pro W3 Reg", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體", "Malgun Gothic", Gulim, Tahoma, "Arial Unicode", sans-serif;
}
i {
  color: #0087c7;
  background-color: transparent;
}
/*#endregion*/
/*#region Overwrites*/
.nav-tabs {
  border-bottom: none;
}
/*#endregion*/
/*#region Navbar styling*/
li.dropdown.open a.dropdown-toggle {
  background-color: white;
}
li.dropdown.open a.dropdown-toggle i {
  color: #0087c7;
}
li.dropdown a.dropdown-toggle {
  background-color: #0087c7;
}
li.dropdown a.dropdown-toggle i {
  color: white;
}
nav.navbar {
  background-color: #0087c7;
  font-size: 14px;
  line-height: 1.42857;
}
nav.navbar .navbar-default,
nav.navbar .navbar-brand {
  color: white;
}
nav.navbar .navbar-default i,
nav.navbar .navbar-brand i {
  color: white;
}
nav.navbar .navbar-default:focus,
nav.navbar .navbar-brand:focus {
  color: white;
}
nav.navbar .navbar-brand:hover {
  color: white;
}
nav ul.navbar-top-links a i {
  color: white;
}
nav ul.navbar-top-links li.dropdown:hover a {
  background-color: white;
}
nav ul.navbar-top-links li.dropdown:hover a i {
  color: #0087c7;
}
ul.dropdown-menu.dropdown-alerts li div,
ul.dropdown-menu.dropdown-user li div,
ul.dropdown-menu.dropdown-messages li div {
  color: black;
  background-color: transparent;
}
ul.dropdown-menu.dropdown-alerts li a.text-center,
ul.dropdown-menu.dropdown-user li a.text-center,
ul.dropdown-menu.dropdown-messages li a.text-center {
  color: black;
  background-color: transparent;
}
ul.dropdown-menu.dropdown-alerts a,
ul.dropdown-menu.dropdown-user a,
ul.dropdown-menu.dropdown-messages a {
  background-color: transparent;
}
ul.dropdown-menu.dropdown-alerts i,
ul.dropdown-menu.dropdown-user i,
ul.dropdown-menu.dropdown-messages i {
  color: #0087c7;
}
ul.dropdown-menu.dropdown-tasks li div {
  color: black;
}
ul.dropdown-menu.dropdown-tasks i {
  color: #0087c7;
}
/*#endregion*/
/*#region sidebar styling*/
div.sidebar {
  background-color: transparent;
}
div.sidebar ul li a {
  color: #0087c7;
}
div.sidebar ul li a i.fa {
  color: #0087c7;
}
div.sidebar ul li a:hover {
  background-color: #0087c7;
  color: #eeeeee;
}
div.sidebar ul li a:hover i {
  color: #eeeeee;
}
div.sidebar ul li a.active {
  background-color: white;
}
div.sidebar ul li a.active:hover {
  background-color: #0087c7;
  color: #eeeeee;
}
@media (max-width: 768px) {
  div.sidebar ul li a {
    background-color: #eeeeee;
  }
}
/*#endregion*/
/*#region Panels*/
/*#region Panel Header for Dashboard*/
.panel-heading .row i {
  color: white;
}
/*#endregion*/
/*#region Panel Footer Styles for Dashboard*/
div.panel-footer {
  background-color: white;
}
/*#endregion*/
/*#endregion*/
/*#region custom classes*/
div.ui-grid-icon-container i {
  color: #0087c7;
}
.form-group.rtpa-search-consumer {
  margin-bottom: .5em;
}
.form-group.rtpa-search-consumer label {
  width: 100%;
}
.form-group.rtpa-search-consumer input {
  width: 100%;
}
.ConsumerSearchButton {
  color: white;
  background-color: #0087c7;
}
.ConsumerResetButton {
  color: white;
  background-color: #0087c7;
}
.SearchControlButtons {
  margin: 10px 0 30px;
}
.modal-dialog {
  width: 90%;
  top: 5%;
  left: 5%;
  margin: 0px;
}
.panel-body i {
  color: white;
}
.panel-body div.list-group i {
  color: #0087c7;
}
@media (max-width: 1250px) {
  div.dataTable_wrapper {
    width: 95%;
    overflow: auto;
  }
}
/*#endregion*/
/*#region IDs*/
#earlsmodelbutton {
  display: none;
}
#page-wrapper {
  background-color: white;
  border-left: 1px solid #b7b7b7;
}
#wrapper {
  background-color: #eeeeee;
}
/*#endregion*/
/*#region Grid Components*/
i.ui-grid-icon-ok {
  color: green;
}
i.ui-grid-icon-cancel {
  color: red;
}
/*#region custom rules*/
@media (max-width: 768px) {
  div#page-wrapper .row:first-child {
    width: 99%;
    margin: 0 1px;
  }
}
/*#endregion*/
